/ %a{ data: { bind: 'foreach: userChoices' } }
/   %a{ data: { bind: 'text: user_id' } }
/   %a{ data: { bind: 'text: choice' } }  

/ %a{ data: { bind: 'text: challenge' } }
/ %a{ data: { bind: 'text: loser_task' } }

/ TODO:
/ Add 'complete' option which prompts if owner was correct or incorrect
/ Add file uploads for verification

- user_choice_for = bet.user_choice_for(current_user)
- bet_owner = bet.owner
- bet_disagreeing_choices = bet.disagreeing_choices
.row
  %table.bet
    %tr
      %td.agree-side
        = link_to bet.owner do
          = image_tag get_random_photo, class: (!bet.outcome ? 'loss ' : '') + 'img-thumbnail'
        - if not bet.user_choice_for(current_user) and bet.betting_allowed
          = link_to 'Agree', bet_agree_path(bet), method: :post, class: 'btn btn-success agreement-btn fullwidth'
      %td
        - if bet.outcome != nil
          - if bet.outcome
            %p.vs #{bet_owner.username.capitalize} wins
          - else
            %p.vs #{bet_disagreeing_choices.first.user.username.capitalize}
        - else
          %p.vs VS
        - choice = user_choice_for
        - if !(choice === nil)
          - if choice.choice != bet.outcome && !(bet.outcome === nil)
            %p You lost! 
            - if not choice.has_delivered
              = link_to 'Prove you followed through.', bet_verify_path(bet), method: :get
          - elsif choice.choice == bet.outcome && !(bet.outcome === nil)
            %p You won!
        %p.proposition-main
          %span.bolded= "#{bet_owner.username.capitalize} bets:"
          = link_to bet.proposition, bet
        %p.loser-task-main  
          %span= "The loser has to: #{bet.loser_task}"
        - if bet.event_start
          %p.cut-off
            %span= "Betting ends #{bet.event_start}"
      %td.disagree-side
        -if bet_disagreeing_choices.empty? and not user_choice_for and bet.betting_allowed
          = link_to 'Disagree', bet_disagree_path(bet), method: :post, class: 'btn btn-danger agreement-btn fullwidth'
<<<<<<< HEAD
        - elsif bet_disagreeing_choices.present?
          = link_to bet_disagreeing_choices.first.user do
            = image_tag get_random_photo, class: 'img-thumbnail'
=======
        - elsif bet.disagreeing_choices.present?
          = link_to bet.disagreeing_choices.first.user do
            = image_tag get_random_photo, class: (bet.outcome ? 'loss ' : '') + 'img-thumbnail'
>>>>>>> opacity on bet partial

          - if not user_choice_for  and bet.betting_allowed
            = link_to 'Disagree', bet_disagree_path(bet), method: :post, class: 'btn btn-danger agreement-btn fullwidth'
  / %tr
  /   %td
  /     = link_to ''
