/ %a{ data: { bind: 'foreach: userChoices' } }
/   %a{ data: { bind: 'text: user_id' } }
/   %a{ data: { bind: 'text: choice' } }  

/ %a{ data: { bind: 'text: challenge' } }
/ %a{ data: { bind: 'text: loser_task' } }

%table.bet
  %tr
    %td.agree-side
      = link_to bet.owner do
        = image_tag '/assets/default_user.jpg', width: '200px', class: 'img-thumbnail'
      - if not bet.user_choice_for(current_user)
        = link_to 'Agree', bet_agree_path(bet), class: 'btn btn-success agreement-btn fullwidth'
    %td
      %p.vs VS
      %p.proposition-main
        %span.bolded= "#{bet.owner.username.capitalize} bets:"
        %span= bet.proposition
      %p.loser-task-main  
        %span= "The loser has to: #{bet.loser_task}"
    %td.disagree-side
      -if bet.disagreeing_choices.empty? and not bet.user_choice_for(current_user)
        = link_to 'Disagree', bet_disagree_path(bet), class: 'btn btn-danger agreement-btn fullwidth'
      - elsif not bet.user_choice_for(current_user)
        = link_to bet.disagreeing_choices.first.user do
          = image_tag '/assets/default_user.jpg', width: '200px', class: 'img-thumbnail'
        = link_to 'Disagree', bet_disagree_path(bet), class: 'btn btn-danger agreement-btn fullwidth'