/ %a{ data: { bind: 'foreach: userChoices' } }
/   %a{ data: { bind: 'text: user_id' } }
/   %a{ data: { bind: 'text: choice' } }  

/ %a{ data: { bind: 'text: challenge' } }
/ %a{ data: { bind: 'text: loser_task' } }

/ TODO:
/ Add 'complete' option which prompts if owner was correct or incorrect
/ Add file uploads for verification

.row
  %table.bet
    %tr
      %td.agree-side
        = link_to bet.owner do
          = image_tag '/assets/default_user.jpg', class: 'img-thumbnail'
        - if not bet.user_choice_for(current_user) and bet.betting_allowed
          = link_to 'Agree', bet_agree_path(bet), method: :post, class: 'btn btn-success agreement-btn fullwidth'
      %td
        - if bet.outcome != nil
          - if bet.outcome
            %p.vs #{bet.owner.username.capitalize} wins
          - else
            %p.vs #{bet.disagreeing_choices.first.user.username.capitalize}
        - else
          %p.vs VS
        - choice = bet.user_choice_for(current_user)
        - if !(choice === nil)
          - if choice.choice != bet.outcome && !(bet.outcome === nil)
            %p You lost! 
            = link_to 'Prove you followed through.', bet_verify_path(bet), method: :get
        %p.proposition-main
          %span.bolded= "#{bet.owner.username.capitalize} bets:"
          = link_to bet.proposition, bet
        %p.loser-task-main  
          %span= "The loser has to: #{bet.loser_task}"
        - if bet.event_start
          %p.cut-off
            %span= "Betting ends #{bet.event_start}"
      %td.disagree-side
        -if bet.disagreeing_choices.empty? and not bet.user_choice_for(current_user) and bet.betting_allowed
          = link_to 'Disagree', bet_disagree_path(bet), method: :post, class: 'btn btn-danger agreement-btn fullwidth'
        - elsif bet.disagreeing_choices.present?
          = link_to bet.disagreeing_choices.first.user do
            = image_tag '/assets/default_user.jpg', class: 'img-thumbnail'

          - if not bet.user_choice_for(current_user)  and bet.betting_allowed
            = link_to 'Disagree', bet_disagree_path(bet), method: :post, class: 'btn btn-danger agreement-btn fullwidth'
  / %tr
  /   %td
  /     = link_to ''