= form_for @bet, class: 'form-horizontal' do |f|
  .form-group
    = f.label :proposition
    = f.text_area :proposition, class: 'form-control width300', rows: 4, placeholder: 'What you propose'
  .form-group
    = f.label :loser_task
    = f.text_area :loser_task, class: 'form-control width300', rows: 4, placeholder: 'Task that the user must do'
  .form-group
    = f.label :public, 'I want this bet to be public to anyone'
    = f.check_box :public, class: 'form-control'
  = f.submit 'Bet', class: 'btn btn-primary'
