/ Menu Horizontal
%ul.menu
  %li.current
    = link_to 'Bets', bets_path

.navbar.global-header.navbar-fixed-top.navbar-inverse
  .container{:data => { :dropdown => 'dropdown' }}
    - if current_user
      %button.navbar-toggle{ data: { toggle: 'collapse', target: '.main-nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_url, class: 'navbar-brand branding brand' do
        %span Betly.io
      .navbar-collapse.collapse.main-nav-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Bets', bets_path

        %ul.nav.navbar-nav.pull-right.topmenu
          %li= link_to 'My Account', edit_user_path(current_user)
          %li= link_to 'Log Out', logout_path
    - else
      %ul.nav.navbar-nav
        %li= link_to "Login", login_path
